@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Inter:wght@300;400;500;600&display=swap');
@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: 'Inter', sans-serif;
}